<a href="https://colab.research.google.com/github/LuziaAm/MachineLearning/blob/main/PrimeiraMachineLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [48]:
arquivo = pd.read_csv('wine_dataset.csv') #Lendo arquivo .csv

In [49]:
arquivo #Exibe o arquivo em formato planilha () 5 primeiras linhas | (10) 10 primeiras linhas

      fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0               7.4              0.70         0.00  ...      9.4        5    red
1               7.8              0.88         0.00  ...      9.8        5    red
2               7.8              0.76         0.04  ...      9.8        5    red
3              11.2              0.28         0.56  ...      9.8        6    red
4               7.4              0.70         0.00  ...      9.4        5    red
...             ...               ...          ...  ...      ...      ...    ...
6492            6.2              0.21         0.29  ...     11.2        6  white
6493            6.6              0.32         0.36  ...      9.6        5  white
6494            6.5              0.24         0.19  ...      9.4        6  white
6495            5.5              0.29         0.30  ...     12.8        7  white
6496            6.0              0.21         0.38  ...     11.8        6  white

[6497 rows x 13 columns]

**Para trabalharcom dados da planilha é necessário transformar as entradas em letras para números**

In [50]:
arquivo['style'] = arquivo['style'].replace('red', 0) #Filta a coluna style e o .replace troca todas as palavra red por 0

In [51]:
arquivo['style'] = arquivo['style'].replace('white', 1)

In [52]:
arquivo

      fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0               7.4              0.70         0.00  ...      9.4        5      0
1               7.8              0.88         0.00  ...      9.8        5      0
2               7.8              0.76         0.04  ...      9.8        5      0
3              11.2              0.28         0.56  ...      9.8        6      0
4               7.4              0.70         0.00  ...      9.4        5      0
...             ...               ...          ...  ...      ...      ...    ...
6492            6.2              0.21         0.29  ...     11.2        6      1
6493            6.6              0.32         0.36  ...      9.6        5      1
6494            6.5              0.24         0.19  ...      9.4        6      1
6495            5.5              0.29         0.30  ...     12.8        7      1
6496            6.0              0.21         0.38  ...     11.8        6      1

[6497 rows x 13 columns]

In [53]:
#separando as variáveis entre preditoras e variável alvo

y =  arquivo['style']
x =  arquivo.drop('style', axis = 1)

In [57]:
arquivo.shape #ver o tamanho do banco de dados

(6497, 13)

In [59]:
from sklearn.model_selection import train_test_split

#criando um conjuto de dados: Test e Train

x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3) # A função (train_test_split) vai dá as 4 saídas da esquerda

In [62]:
x_teste.shape

(1950, 12)

## Código Machine **Learning**

In [63]:
from sklearn.ensemble import ExtraTreesClassifier #ExtraTreesClassifier dentro do pacote ensemble -Trabalha com árvore de decisão

#Criando Modelo | TREINO
modelo = ExtraTreesClassifier() #variavél modelo recebe a função ETC
modelo.fit(x_treino,y_treino)# Fit- quer dizer que vc irá aplicar o Machine Learning nas variavéis x_treino,y_treino

##dados de treino não entram nos dados de teste

#imprimindo resultado
resultado =  modelo.score(x_teste,y_teste)#Score - 
print("Acuracia", resultado)

Acuracia 0.9974358974358974

In [87]:
x_teste[400:403]

      fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
5285            7.6              0.30         0.37  ...       0.50      9.8        5
4272            7.9              0.37         0.31  ...       0.36     11.9        6
2703            7.3              0.31         0.69  ...       0.45      8.6        5

[3 rows x 12 columns]

In [88]:
previsoes = modelo.predict(x_teste[400:403])
previsoes

array([1, 1, 1])